@font-face {
    font-family: Futura Bk BT;
    src: url(fonts/FuturaBookBT.ttf);
}
@font-face {
    font-family: Futura BkBold;
    src: url(fonts/Futura\ Bk\ Bold.ttf);
}
.cta-blog{
    position: relative;
    width: 816px;
    height: 430px;
    display: block;
    font-weight: 400;
}
.cta-blog__img{
    width: 100%;
    filter: brightness(40%);
}
.cta-blog__block{
    position: absolute;
    top: 170px;
    left: 48px;
    width: 387px;
}
.cta-blog__heading{
    font-family: Futura Bk BT;
    text-transform: uppercase;
    font-size: 32px;
    margin: 0;
    line-height: 121%;
    letter-spacing: 0.06em;
    color:white;
}
.cta-blog_text{
    font-family: Futura Bk BT;
    padding-top: 16px;
    margin: 0;
    color:white;
    line-height: 25px;
    letter-spacing: 0.03em;
}
.cta-blog__button-wrap{
    margin-top: 48px;
}
.cta-blog__button{
    font-family: Futura BkBold;
    text-decoration: none;
    text-transform: uppercase;
    background-color:#F5A800    ;
    color: black;
    padding: 16px 40px;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.07em;
    font-weight: 500;

}